<h1>Hola, Mi Nombre es Kevin Rivas</h1>

<p></p>

<h3> Acerca del desarrollador </h3>

<p id="about" >Profesional con experiencia en la planificaci贸n, mejoramiento continuo, optimizaci贸n de losrecursos, con habilidad para la toma de decisiones l贸gicas, full stack relacionado en el manejo deJavaScript, React, Python, Django. Desarrollando una transformaci贸n tanto personal comoprofesional al mundo tech, en constante aprendizaje de las nuevas tecnolog铆as.</p>

<%= link_to "LinkedIn", "https://www.linkedin.com/in/k-rivas-r/", target: "_blank" %>
<%= link_to "Github", "https://github.com/Ksavir", target: "_blank" %>


<p></p>

<h3>  Habilidades</h3>
<p>Javascript, HTML, CSS, PostgreSQL, Nextjs, Python, Django, Git</p>

<h5>Author <%= link_to "@kevinsavir", "https://twitter.com/kevinsavir", target: "_blank" %></h5>